/* mapa */

.mapa{
    display: flex;
    columns: 1fr 1fr;
    padding: 4rem;
   justify-content: space-evenly;
    
}
.solo_mapa{
    box-shadow: 2px 1px 21px 15px  $color-azul-oscuro;
    border-radius: 10px;
}
.tabla_icono{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}


.completo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    text-align: center;
    
}
