/* Navegador */

.navbar{
    background-color: $color-azul;
   
    
}
.nav-link{
    color: $color-negro;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.navbar-brand{
    color: $color-blanco;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    
}   



