
.parrafo1{
    font-weight: bold;
    font-size: 1.3rem;
}
.parrafon{
    font-weight: bold;
    font-size: 1rem;
    padding: 2rem;
} 
.parrafo-nosotros {
    font-family:  "Pacifico", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem;
    color: $color-negro;
  }