//VARIABLES//
$color-azul:  #1414b3;
$color-blanco:  rgb(251, 251, 251) !important;
$color-negro: rgb(1, 2, 2);
$color-azul-oscuro: rgb(3, 75, 79);












@import "_body";
@import "_footer";
@import "_titulos";
@import "_navegador";
@import "_producto";
@import "_carrusel";
@import "_mapa";
@import "_formulario";
@import "_mediaquere";
@import "_parrafos";
@import "_nosotros";
